[submodule "vendor/plugins/asset_packager"]
	path = vendor/plugins/asset_packager
	url = git://github.com/sbecker/asset_packager.git
[submodule "vendor/plugins/authlogic"]
	path = vendor/plugins/authlogic
	url = git://github.com/binarylogic/authlogic.git
[submodule "vendor/plugins/annotate_models"]
	path = vendor/plugins/annotate_models
	url = git://github.com/ctran/annotate_models.git
